{% extends 'base.html' %}
{% load static %}
{% block head_title %}Status | Cancelled{% endblock head_title %}

{% block content %}

<div class="mt-16">
<div>
    <div class="text-center">
        <p class="font-WorkSans font-normal text-4xl sm:text-5xl m-4">Cancelled</p>
    </div>

    <div class="flex justify-center text-center w-full sm:w-5/6 m-auto">
    <div class="w-full mb-10">
        <div>
            <p class="font-Nunito font-normal text-xl sm:text-2xl m-4">Thank you for submitting your offer for web development services. We have received your proposal, and it is currently being reviewed. Your offer is in a pending status, and we will carefully evaluate it to determine whether it aligns with our project requirements. Once a decision has been made regarding your offer, we will promptly notify you of the outcome. If your offer is accepted, we will provide further details on the next steps of the project. If it is rejected, we will provide feedback and suggestions to assist you in future endeavors.</p>
        </div>
        <div>
            <p class="font-Nunito font-normal text-xl sm:text-2xl m-4">Thank you for your interest in our services. We value the opportunity to work with you, and we will keep you informed throughout the evaluation process.</p>
        </div>
    </div>
    </div>
</div>
</div>

{% endblock content %}