{% extends 'base.html' %}
{% load static %}
{% block head_title %}Status | Payment{% endblock head_title %}


{% block content %}

<div class="mt-16">
<div>

    <div class="mb-8">
        <p class="font-WorkSans font-normal text-4xl sm:text-5xl m-4">{{ project_title }}</p>
    </div>

    <div class="mb-10">
        <p class="font-Montserrat font-normal text-2xl sm:text-xl m-4">{{ project_description }}</p>
    </div>





    <div class="flex justify-center items-center m-4 sm:m-8 overflow-x-auto">
    
        <div class="w-full border border-slate-500">
            <div class="flex flex-col overflow-x-auto">
                <table class="w-full text-sm text-left">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Project Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Download
                            </th>
                        </tr>
                        
                    </thead>
                    
            
                    <tbody>
                        <tr class="bg-white border-t border-slate-500">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                {{ project_title }}
                            </th>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{ project_timestamp|date }}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <p class="text-slate-500">Purchase to download</p> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




<div class="flex items-center m-4 sm:m-8">
    <div>
        <p class="font-mono font-bold text-2xl  exsm:text-3xl">${{ project_budget }}</p>
    </div>

    <div>
        <form action="{% url 'status:create-checkout-session' pk=project_id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="text-white font-WorkSans bg-black hover:bg-slate-900 focus:ring-4 focus:ring-slate-700 font-semibold rounded-lg text-xl exsm:text-2xl px-10 py-3 ml-8 mb-2  dark:bg-black dark:hover:bg-slate-900 focus:outline-none dark:focus:ring-black">Pay now</button>
          </form>
    </div>
  
</div>  


</div>
</div>

{% endblock content %}