<footer class="bg-black">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8 bottom-0">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/" class="font-Montserrat font-semibold text-2xl text-white mb-4 sm:mb-0">MyCoes</a>
            <ul class="flex flex-wrap items-center mt-3 mb-6 text-sm font-medium text-slate-50 sm:mb-0 sm:mt-0 dark:text-gray-400">
                <li>
                    <a href="{% url 'home:about' %}" class="mr-4 text-lg hover:underline md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="{% url 'home:contact' %}" class="mr-4 text-lg  hover:underline md:mr-6">Contact</a>
                </li>
                <li>
                    <a href="{% url 'home:support' %}" class="mr-4 text-lg  hover:underline md:mr-6">Support</a>
                </li>
                <li>
                    <a href="{% url 'home:privacy-policy' %}" class="mr-4 text-lg  hover:underline md:mr-6">Privacy & Policy</a>
                </li>
                <li>
                    <a href="{% url 'home:terms-of-services' %}" class="mr-4 text-lg  hover:underline md:mr-6">Terms of services</a>
                </li>
                <li>
                    <a href="{% url 'feedback:feedback-view' %}" class="mr-4 text-lg  hover:underline md:mr-6">Feedback</a>
                </li>
                <li>
                    <a href="https://www.fiverr.com/" class="mr-4 text-lg hover:underline md:mr-6 ">Fiverr</a>
                </li>
                <li>
                    <a href="#" class="mr-4 text-lg hover:underline md:mr-6 ">Upwork</a>
                </li>
                <li>
                    <a href="https://github.com/tohid4n" class="mr-4 text-lg hover:underline md:mr-6 ">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com/mycoes747" class="text-lg hover:underline">Twitter</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-slate-100 sm:text-center dark:text-gray-400">© 2023 <a href="/" class="hover:underline">MyCoes™</a>. All Rights Reserved.</span>
    </div>
</footer>