<footer class="bg-white dark:bg-black border-t border-black dark:border-white">
    <div class="w-full max-w-screen-xl mx-auto p-4 bottom-0">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div>
            <a href="/" class="font-OpenSans font-extrabold text-4xl text-black dark:text-white">MyCoes</a>
            <span class="block mt-4 mb-4 text-sm text-black dark:text-white">© 2023 <a href="/" class="hover:underline">MyCoes™</a>. All Rights Reserved.</span>
           </div>

            <ul class="flex flex-wrap items-center leading-relaxed mt-3 mb-6 text-sm font-medium sm:mb-0 sm:mt-0 text-black dark:text-white">
              
                <li>
                    <a href="{% url 'home:privacy-policy' %}" class="mr-4 text-lg  hover:underline md:mr-6">Privacy & Policy</a>
                </li>
                <li>
                    <a href="{% url 'home:terms-of-services' %}" class="mr-4 text-lg  hover:underline md:mr-6">Terms of services</a>
                </li>
                <li>
                    <a href="{% url 'feedback:feedback-view' %}" class="mr-4 text-lg  hover:underline md:mr-6">Feedback</a>
                </li>

                <li>
                    <a href="{% url 'support:home' %}" class="mr-4 text-lg  hover:underline md:mr-6">Support</a>
                </li>
               
            </ul>


           
            
            <div class="border border-black dark:border-white flex w-40 text-center">
                <a
                  id="theme-switcher"
                  class="block w-full whitespace-nowrap  px-3 py-2 text-sm font-normal dark:text-white bg-white dark:bg-black active:bg-black active:text-white active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-black hover:bg-slate-400"
                  href="#"
                  data-theme="light">
                  <div class="pointer-events-none">
                   
                    <span data-theme-name="light">Light</span>
                  </div>
                </a>
                <a
                  id="theme-switcher"
                  class="block w-full whitespace-nowrap bg-transparent px-3 py-2 text-sm font-normal dark:text-black bg-black dark:bg-white active:bg-white active:text-black active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-black hover:bg-slate-400"
                  href="#"
                  data-theme="dark"
                  data-te-dropdown-item-ref>
                  <div class="pointer-events-none">
                    <span data-theme-name="dark">Dark</span>
                  </div>
                </a>
              </div>

        </div>
    
        </div>
</footer>