{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">	

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&family=Libre+Franklin:wght@100;400;800&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito:wght@200;400;500&family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">

    

   

    <!-- gogle fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carme&family=Content:wght@400;700&family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:wght@300;700&family=Lexend:wght@900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;700&family=Sintony:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <title>{% block head_title %}{% endblock head_title %} - MyCoes</title>
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    {% block extra_head %}
    {% endblock %}

</head>

<body class="no-scrollbar bg-white dark:bg-black">

  
  {% if messages %}
      <div class="fixed mt-6 inset-x-0 flex justify-center mx-4 z-50">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} bg-opacity-90 font-Karla font-normal text-lg p-4 text-black border border-gray-400 rounded w-fit
                      {% if message.tags == 'success' %}
                        bg-green-100
                      {% elif message.tags == 'info' %}
                        bg-blue-100
                      {% elif message.tags == 'warning' %}
                        bg-yellow-100
                      {% elif message.tags == 'error' %}
                        bg-red-100
                      {% endif %}
                      ">
    
            {{ message }}
            <button type="button" class="close text-black ml-4" onclick="closeAlert(this.parentElement)" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  



    <!-- Navbar -->


{% include 'base/navbar.html' %}




<!-- Main Body Content -->

<main>
    <div>

        {% block content %}

        {% endblock content %}
    </div>
</main>

<!-- Footer -->

{% include 'base/footer.html' %}

<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var navBar = document.getElementById("navbar");

    window.addEventListener("scroll", function() {
      var scrolled = window.scrollY;

      if (scrolled > 10) {
        navBar.classList.add("bg-white", "dark:bg-black",);
      } else {
        navBar.classList.remove("bg-white", "dark:bg-black");
      }
    });
  });
</script>

<!-- Search Input -->


<script>
  new Autocomplete('#autocomplete', {
      search: input => {
          const url = `/support/search_faqs/?term=${input}`;
          return new Promise(resolve => {
              fetch(url)
                  .then(response => response.json())
                  .then(data => {
                      resolve(data.data);
                  });
          });
      },
  
      getResultValue: result => result.question,
  
      onSubmit: result => {
          console.log('Selected FAQ:', result);
  
          // Create the HTML elements for the selected FAQ and insert them into the page
          const accordionFlush = document.getElementById('accordion-flush');
  
          const h2 = document.createElement('h2');
          h2.id = `accordion-flush-heading-${result.id}`;
  
          const button = document.createElement('button');
          button.type = 'button';
          button.className = 'flex items-center justify-between w-full py-5 text-left border-b border-gray-600 dark:border-gray-200';
          button.setAttribute('data-accordion-target', `#accordion-flush-body-${result.id}`);
          button.setAttribute('aria-expanded', 'true');
          button.setAttribute('aria-controls', `accordion-flush-body-${result.id}`);
  
          const span = document.createElement('span');
          span.className = 'font-light text-xl sm:text-2xl font-OpenSans leading-normal sm:leading-normal tracking-wide text-black dark:text-white';
          span.textContent = result.question;
  
          const svg = document.createElement('svg');
          svg.setAttribute('data-accordion-icon', '');
          svg.className = 'rotate-180 shrink-0 fill-black dark:fill-white';
          svg.setAttribute('aria-hidden', 'true');
          svg.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
          svg.setAttribute('height', '24');
          svg.setAttribute('viewBox', '0 -960 960 960');
          svg.setAttribute('width', '24');
          svg.innerHTML = '<path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/>';
  
          button.appendChild(span);
          button.appendChild(svg);
  
          h2.appendChild(button);
  
          const div = document.createElement('div');
          div.id = `accordion-flush-body-${result.id}`;
          div.className = 'hidden';
          div.setAttribute('aria-labelledby', `accordion-flush-heading-${result.id}`);
  
          const innerDiv = document.createElement('div');
          innerDiv.className = 'py-5 border-b border-gray-600 dark:border-gray-200';
  
          const p = document.createElement('p');
          p.className = 'mb-2 text-base sm:text-lg font-OpenSans font-normal text-gray-800 leading-normal sm:leading-normal tracking-wide dark:text-white';
          p.textContent = result.answer;
  
          innerDiv.appendChild(p);
          div.appendChild(innerDiv);
  
          accordionFlush.appendChild(h2);
          accordionFlush.appendChild(div);
      }
  });
  </script>
  




 <script src="{% static 'js/nav.js' %}" type="text/javascript"></script>
 <script src="{% static 'js/carousel.js' %}"></script>
 <script src="{% static 'js/flowbite.min.js' %}"></script>

<!--Password togller show button-->
 <script>
  function togglePasswordVisibility(button) {
    const passwordInput = button.previousElementSibling; // Assuming the input element is right before the button
    const showHideText = button.querySelector('#show-hide-text');
  
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      showHideText.textContent = 'Hide';
    } else {
      passwordInput.type = 'password';
      showHideText.textContent = 'Show';
    }
  }
  </script>



<script>

  // script.js
document.addEventListener('DOMContentLoaded', function () {
    const buttons = document.querySelectorAll('.service-button');

    buttons.forEach((button) => {
        button.addEventListener('click', function () {
            const isSelected = this.classList.contains('selected');
            const icon = this.querySelector('.icon');

            if (isSelected) {
                // Deselect the service
                icon.innerText = '+';
                this.classList.remove('selected');
                // Remove the service from your data model or form
            } else {
                // Select the service
                icon.innerText = '-';
                this.classList.add('selected');
                const serviceName = this.dataset.service;
                // Add the service to your data model or form
                console.log(`Selected service: ${serviceName}`);
            }
        });
    });
});

</script>

 <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/64bdece7cc26a871b02ac7ad/1h62uaqpq';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->


  <script>
    // Function to close the alert and its parent div
    function closeAlert(alertElement) {
      alertElement.style.display = "none";
      alertElement.parentElement.removeChild(alertElement);
    }
  
    // Automatically close the alert after 3 seconds
    document.addEventListener('DOMContentLoaded', () => {
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach((alert) => {
        setTimeout(() => {
          closeAlert(alert);

        }, 3000);
      });
    });
  </script>

<script>
  
// On page load or when changing themes, best to add inline in `head` to avoid FOUC
if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
  document.documentElement.classList.add('dark');
} else {
  document.documentElement.classList.remove('dark');
};

function setDarkTheme() {
  document.documentElement.classList.add("dark");
  localStorage.theme = "dark";
};

function setLightTheme() {
  document.documentElement.classList.remove("dark");
  localStorage.theme = "light";
};

function onThemeSwitcherItemClick(event) {
  const theme = event.target.dataset.theme;

  if (theme === "system") {
    localStorage.removeItem("theme");
    setSystemTheme();
  } else if (theme === "dark") {
    setDarkTheme();
  } else {
    setLightTheme();
  }
};

const themeSwitcherItems = document.querySelectorAll("#theme-switcher");
themeSwitcherItems.forEach((item) => {
  item.addEventListener("click", onThemeSwitcherItemClick);
});

</script>



<script>
  // Burger menus
  document.addEventListener('DOMContentLoaded', function() {
      // open
      const burger = document.querySelectorAll('.navbar-burger');
      const menu = document.querySelectorAll('.navbar-menu');
  
      if (burger.length && menu.length) {
          for (var i = 0; i < burger.length; i++) {
              burger[i].addEventListener('click', function() {
                  for (var j = 0; j < menu.length; j++) {
                      menu[j].classList.toggle('hidden');
                  }
              });
          }
      }
  
      // close
      const close = document.querySelectorAll('.navbar-close');
      const backdrop = document.querySelectorAll('.navbar-backdrop');
  
      if (close.length) {
          for (var i = 0; i < close.length; i++) {
              close[i].addEventListener('click', function() {
                  for (var j = 0; j < menu.length; j++) {
                      menu[j].classList.toggle('hidden');
                  }
              });
          }
      }
  
      if (backdrop.length) {
          for (var i = 0; i < backdrop.length; i++) {
              backdrop[i].addEventListener('click', function() {
                  for (var j = 0; j < menu.length; j++) {
                      menu[j].classList.toggle('hidden');
                  }
              });
          }
      }
  });
  </script>


</body>
</html>