{% extends 'base.html' %}
{% load static %}
{% block head_title %}Contact{% endblock head_title %}

{% block content %}


<div class="m-8">

    <div class="mt-24 sm:mt-28 flex items-center justify-center ">
        <div>
        <div>
            <h1 class="text-6xl md:text-7xl lg:text-8xl font-WorkSans sm:font-Montserrat font-bold sm:font-thin mb-52">
                Be our first client you will get 90% off on your project.
            </h1>
        </div>
        <div class="pb-8">
            <a href="{% url 'orders:make-offer' %}" class="py-3 px-10 mr-2 mb-2 text-xl sm:text-2xl font-Montserrat font-normal text-black bg-transparent rounded-full border border-black hover:bg-black hover:text-white hover:font-normal hover:cursor-pointer focus:z-10">Make an offer now</a>
        </div>
    </div>
    </div>

</div>


  

{% endblock content %}