@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .word-spacing {
        word-spacing: 1rem;
    }
    .input_classes {
        @apply bg-gray-50 border border-gray-900 text-gray-900 text-lg font-Karla font-normal rounded focus:ring-black focus:border-black  block w-full p-2.5  dark:border-gray-900 dark:placeholder-gray-400 dark:focus:ring-black dark:focus:border-black
    }
    .label_classes {
        @apply block mb-2 font-Karla text-xl font-normal text-black dark:text-white
    }
    
    .input_classes_chat_message {
        @apply font-Karla block w-full align-middle rounded-xl py-4 px-4 h-auto text-gray-900 focus:outline-none border-none bg-gray-50 resize-none
    } 
    .text_feedback {
        @apply font-Karla block w-full align-middle rounded-2xl h-16 sm:h-24 text-gray-900 focus:outline-none focus:ring-0 border-none bg-gray-50 resize-none p-3 no-scrollbar
    }      
}


@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
