<!DOCTYPE html>
<html>
<head>
    <title>Accepted Offer</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.6;
            color: #333333;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Accepted Offer</h1>
        <p style="margin-bottom: 5px;">Congratulations on the successful completion of your project! We appreciate your trust in our services and your prompt payment. We are delighted to provide you with the download option for your website's code.</p>
        <br>
        <div>
            <div><p style="margin-bottom: 5px;">Project Name</p></div>
            <div><a href="" style="margin-bottom: 5px; color: blue; font-weight: 400;">Download</a></div>
        </div>
        
        <br>
        <p style="margin-bottom: 5px;">We recommend saving a backup copy of the zip file to ensure the security of your website's code. If you have any questions or face any difficulties during the download process, please don't hesitate to contact through the chat section or via email.</p>
        <p style="margin-bottom: 5px;">We value your feedback and would greatly appreciate it if you could take a moment to provide us with your feedback about your experience with our service. Your feedback will help us improve and serve our clients better in the future.</p>

        <p style="margin-bottom: 5px;">Thank you for choosing MyCoes.</p>
        <p style="margin-bottom: 5px;">Best regards,</p>
        <p>Tohid Patel</p>
    </div>
</body>
</html>