{% extends 'base.html' %}
{% load static %}
{% block head_title %}Profile{% endblock head_title %}

{% block content %}

<div class="w-full flex justify-center mb-12">
    <div class="w-11/12 md:w-10/12 lg:w-9/12">
   
   <div class="mt-16">

    <div class="">
        <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
         </button>
         
         <aside id="default-sidebar" class="fixed top-16 left-0 lg:left-36 z-40 w-64 border-r-2 h-full transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
            <div class="h-full px-4 py-4 overflow-y-auto bg-white dark:bg-black">
               <ul class="space-y-2 font-medium">

                  <li>
                     <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="ml-3">Offers</span>
                     </a>
                  </li>
                  <li>
                     <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="flex-1 ml-3 whitespace-nowrap">Transactions</span>
                         </a>
                  </li>
                 
                 
                  
                  <li>
                     <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Sign Out</span>
                     </a>
                  </li>
                  
               </ul>
            </div>
         </aside>
         
         </div>
         
         <div>
           

          <div class="h-5/6 border border-black ml-60"><p>Tillu tohid</p></div>

{% comment %} <!-- template.html -->
<ul id="serviceList">
   <li>
     <button class="service-button" data-service="Service 1">
       <span class="icon">+</span> Service 1
     </button>
   </li>
   <li>
     <button class="service-button" data-service="Service 2">
       <span class="icon">+</span> Service 2
     </button>
   </li>
   <!-- Add similar entries for other services -->
 </ul> {% endcomment %}
 


        
  </div>
  </div>

{% endblock content %}