<!DOCTYPE html>
<html>
<head>
  <title>Service Selection</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<form method="post" action="{% url 'your_view_name' %}">
  {% csrf_token %}
  <div id="services">
    <div class="service" data-service="Service1">
      <button class="select-button" type="button">+</button>
      <input type="hidden" name="selected_services" value="false">
      Service 1
    </div>
    <div class="service" data-service="Service2">
      <button class="select-button" type="button">+</button>
      <input type="hidden" name="selected_services" value="false">
      Service 2
    </div>
    <div class="service" data-service="Service3">
      <button class="select-button" type="button">+</button>
      <input type="hidden" name="selected_services" value="false">
      Service 3
    </div>
    <button id="select-all-button" type="button">Select All</button>
  </div>
  <input type="submit" value="Submit">
</form>

<script>
  $(document).ready(function() {
    $('.select-button').click(function() {
      $(this).parent().toggleClass('selected');
      if ($(this).parent().hasClass('selected')) {
        $(this).siblings('input').val('true');
      } else {
        $(this).siblings('input').val('false');
      }
    });

    $('#select-all-button').click(function() {
      $('#services .service').toggleClass('selected');
      if ($('#services .service').hasClass('selected')) {
        $('#services .service input').val('true');
      } else {
        $('#services .service input').val('false');
      }
    });
  });
</script>
</body>
</html>
