{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="w-full md:w-4/5 lg:w-8/12 sm:p-8 m-auto mt-20 xsm:mt-24">
    <div class="flex justify-center items-center">
        <div class="w-full">
            <div class="text-center m-4">
                <h1 class="font-Montserrat font-semibold text-4xl">{% trans "Password Reset" %}</h1>
            </div>
   
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
    
            <p class="text-center font-WorkSans font-normal text-xl m-4">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
        </div>
        
    </div>
    <div class="flex justify-center text-center m-4">
        <a href="{% url 'home:contact' %}" class="py-2.5 px-10 text-2xl font-medium text-black bg-transparent rounded-full border border-black hover:bg-black hover:text-white focus:z-10">Contact us</a>
    </div>
</div>
{% endblock %}

