{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="w-full xsm:w-r26 p-8 m-auto mt-20 mb-8 sm:border rounded-md border-slate-900">
    <div class="flex justify-center items-center">
        <div class="w-full">
            <div class="text-center mb-6">
                <h1 class="font-Montserrat font-semibold text-4xl">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            </div>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="text-center font-WorkSans font-normal text-xl mb-4">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="underline font-WorkSans font-bold text-lg"  href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            
            <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                {% csrf_token %}
                 
                  <div>
                    <ul class="text-red-500 py-2">
                      <li>{{ form.non_field_errors | safe }}</li>
                    </ul>
                  </div>

                


                <div class="mb-4">
                    <div><label for="id_password1" class="block font-Karla text-xl text-black font-bold mb-2">{% trans "New Password" %}</label></div>
                        <div class="relative">
                          <input
                              id="id_password1" type="password" name="password1"
                              style="-webkit-text-security: none; background-color: transparent;"
                              class="border border-gray-900 rounded w-full py-3 px-3 font-Karla text-lg text-gray-900 font-normal leading-tight focus:ring-black focus:border-black dark:focus:ring-black dark:focus:border-black"
                          >
                          <button
                              type="button"
                              onclick="togglePasswordVisibility(this)"
                              class="absolute inset-y-0 right-2 pr-3 flex items-center justify-center"
                              style="height: 100%;"
                          >
                              <span id="show-hide-text" class="text-base">Show</span>
                          </button>
                        </div>
          
                        <div>
                            {% if form.password1.errors %}
                        <ul class="text-red-500">
                            {% for error in form.password1.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </div>
            </div>

                
                <div class="mb-4">
                    <label for="id_password2" class="block font-Karla text-xl text-black font-bold mb-2">{% trans "Confirm New Password" %}</label>
                    <input id="id_password2" type="password" name="password2" class="border border-gray-900 rounded w-full py-3 px-3 font-Karla text-lg text-gray-900 font-normal leading-tight focus:ring-black focus:border-black dark:focus:ring-black dark:focus:border-black">
                    {% if form.password2.errors %}
                        <ul class="text-red-500">
                            {% for error in form.password2.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="mt-5">
                    <button class="text-white font-WorkSans bg-black hover:bg-slate-900 focus:ring-4 focus:ring-slate-700 font-semibold rounded-lg text-2xl w-full py-2.5 mb-2 dark:bg-black dark:hover:bg-slate-900 focus:outline-none dark:focus:ring-black" type="submit" name="action">{% trans 'Submit' %}</button>
                </div>              
            </form>
            
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
