{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="w-full xsm:w-r26 p-8 m-auto mt-8 mb-8 sm:border rounded-md border-slate-900">

    <div class="flex justify-center">
    <div class="w-full">
    
      <div class="text-center mb-6">
        <h1 class="font-Montserrat font-semibold text-4xl">{% trans "Change Password" %}</h1>
      </div>

             <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}

                    <div class="mb-4">
                        <label for="id_oldpassword" class="block font-Karla text-xl text-black font-bold mb-2">{% trans "Old Password" %}</label>
                        <input id="id_oldpassword" type="password" name="oldpassword" class="border border-gray-900 rounded w-full py-3 px-3 font-Karla text-lg text-gray-900 font-normal leading-tight focus:outline-none focus:shadow-outline">
                      </div>
                
                      <div class="mb-4">
                        <label for="id_newpassword1" class="block font-Karla text-xl text-black font-bold mb-2">{% trans "New Password" %}</label>
                        <input id="id_newpassword1" type="password" name="newpassword1" class="border border-gray-900 rounded w-full py-3 px-3 font-Karla text-lg text-gray-900 font-normal leading-tight focus:outline-none focus:shadow-outline">
                      </div>
                
                      <div class="mb-4">
                        <label for="id_newpassword2" class="block font-Karla text-xl text-black font-bold mb-2">{% trans "New Password again" %}</label>
                        <input id="id_newpassword2" type="password" name="newpassword2" class="border border-gray-900 rounded w-full py-3 px-3 font-Karla text-lg text-gray-900 font-normal leading-tight focus:outline-none focus:shadow-outline">
                      </div>

                <div class="mt-5">
                 <button class="primaryAction text-white font-WorkSans bg-black hover:bg-slate-900 focus:ring-4 focus:ring-slate-700 font-semibold rounded-lg text-2xl w-full py-2.5 mb-2 dark:bg-black dark:hover:bg-slate-900 focus:outline-none dark:focus:ring-black" type="submit" name="action">{% trans "Change Password" %}</button>
                </div>
                 <a class="button secondaryAction font-Karla text-xl text-black hover:underline font-normal" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
             </form>

        </div>
    </div>
</div>
{% endblock %}