{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}


{% block content %}
<div class="w-full md:w-4/5 lg:w-8/12 p-8 m-auto mt-10 xsm:mt-24">
    <div class="flex justify-center items-center">
        <div class="w-full">
            <div class="text-center mb-6">
                <h1 class="font-Montserrat font-semibold text-4xl">{% trans "Sign Up Closed" %}</h1>
            </div>

<p class="text-center font-WorkSans font-normal text-xl mb-4">{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
</div>
{% endblock %}
