{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="w-full xsm:w-r26 p-8 m-auto mt-8 mb-8 sm:border rounded-md border-slate-900">

  <div class="flex justify-center">
  <div class="w-full">

    <div class="text-center mb-6">
      <h1 class="font-Montserrat font-semibold text-4xl">{% trans "Create Account" %}</h1>
    </div>


<form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}

  <div class="mb-4">
    <label for="id_login" class="block font-Karla text-xl text-black font-bold mb-2">{% trans "Email" %}</label>
    <input id="id_login" type="text" name="login" class="border border-gray-900 rounded w-full py-3 px-3 font-Karla text-lg text-gray-900 font-normal leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="id_password1" class="block font-Karla text-xl text-black font-bold mb-2">{% trans "Password" %}</label>
    <input id="id_password1" type="password" name="password1" class="border border-gray-900 rounded w-full py-3 px-3 font-Karla text-lg text-gray-900 font-normal leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="id_password2" class="block font-Karla text-xl text-black font-bold mb-2">{% trans "Password again" %}</label>
    <input id="id_password2" type="password" name="password2" class="border border-gray-900 rounded w-full py-3 px-3 font-Karla text-lg text-gray-900 font-normal leading-tight focus:outline-none focus:shadow-outline">
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="mt-5">
    <button class="primaryAction text-white font-WorkSans bg-black hover:bg-slate-900 focus:ring-4 focus:ring-slate-700 font-semibold rounded-lg text-2xl w-full py-2.5 mb-2 dark:bg-black dark:hover:bg-slate-900 focus:outline-none dark:focus:ring-black" type="submit">{% trans "Sign Up" %}</button>
  </div>

</form>
<div class="mt-2">
<p class="text-center">{% blocktrans %}Already have an account? <a href="{{ login_url }}" class="underline font-WorkSans font-bold text-lg">sign in</a>.{% endblocktrans %}</p>
</div>
    </div>
  </div>
</div>

{% endblock %}
