{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}


{% block content %}
<div class="w-full md:w-4/5 lg:w-8/12 p-8 m-auto mt-10 xsm:mt-24">
    <div class="flex justify-center items-center">
        <div class="w-full">
            <div class="text-center mb-6">
                <h1 class="font-Montserrat font-semibold text-4xl">{% trans "Verify Your E-mail Address" %}</h1>
            </div>


<p class="text-center font-WorkSans font-normal text-xl mb-4">{% blocktrans %}This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your e-mail address. {% endblocktrans %}</p>

<p class="text-center font-WorkSans font-normal text-xl mb-4">{% blocktrans %}We have sent an e-mail to you for
verification. Please click on the link inside that e-mail. If you do not see the verification e-mail in your main inbox, check your spam folder. Otherwise
contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>


</div>
</div>
</div>

{% endblock %}
