<!DOCTYPE html>
<html>
<head>
    <title>Accepted Offer</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.6;
            color: #333333;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Accepted Offer</h1>
        <p style="margin-bottom: 5px;">I am pleased to inform you that your offer has been accepted. I am excited to start working on your project.</p>
        <p style="margin-bottom: 5px;">Click to see progress of the project</p>
        <br>
        <a href="https://example.com/progress" style="text-decoration: none; margin-bottom: 10px; display: block; padding: 15px 30px; background-color: black; color: white; font-weight: 300;">Status</a>
        <br>

        <p style="margin-bottom: 5px;">Thank you for choosing MyCoes.</p>
        <p style="margin-bottom: 5px;">Best regards,</p>
        <p>Tohid Patel</p>
    </div>
</body>
</html>