html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}


/* ... messages ... */

.alert {
  /* ... your existing styles ... */
  position: fixed; /* Add position: fixed to fix the alert in the viewport */
  top: 0; /* Place the alert at the top */
  left: 50%; /* Center the alert horizontally */
  transform: translateX(-50%); /* Center the alert horizontally */
  z-index: 100; /* Increase z-index to make it appear above other elements */
}


/* Navbar */

.mobile-nav-toggle {
  display: none;
}

.primary-navaigation {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  padding-right: 1.5rem;
  margin: 0;
  left: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 56.25em) {
  .primary-navaigation {
    gap: 2em;
    position: fixed;
    inset: 0 0 0 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 8rem 2rem;
    transform: translateX(100%);
    transition: transform 350ms step-start;
    z-index: 20; /* Added z-index to ensure it appears on top */
  }

  .primary-navaigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 20; /* Increased z-index to appear on top of other elements */
    background-image: url('/static/icons/Sort.svg');
    background-color: transparent;
    width: 30px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    border: 0;
    right: 1rem;
    top: 1.6rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('/static/icons/close_round.svg');
    z-index: 30;
  }
}


/* Hero background image */

.dark-bg-custom {
  background-image: url('/static/img/hero/black.jpg');
  background-size: cover;
}



/* Scroll effect */

.carousel-container {
  position: relative;
}

@media (min-width: 1024px) {
  .carousel-container.fixed {
    position: fixed;
    top: 5rem;
    transition: top 0.5s ease;
    padding-right: 1rem;
    /* Additional styling for fixed position */
  }
}


@media only screen and (max-width: 600px) {
  .carousel-container {
    position: none;
    z-index: 1;
}} 





/* For FAQS */


.faq-list > div {
  border-bottom: 0.09em solid #c7c7c7;
  padding: 1.5em 0em;
} 

.faq-list > div:last-child {
  border: unset;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

summary {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  transition: all 0.3s ease;
}


details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 15px}
}



details[open] p {
  border-left: 2px solid #000000;
  margin-left: 15px;
  padding-left: 25px;
  padding-top: 10px;
  opacity: 100;
  transition: all 3s ease;
}

details[open] summary:after {
  content: url('/static/icons/ex-less.svg');
  margin: 0.1 0.65em 0 0;
}


summary::-webkit-details-marker {
  display: none;
}

summary:after {
  background: transparent;
  border-radius: 0.3em;
  content: url('/static/icons/ex-more.svg');
  color: #000000;
  float: left;
  margin: 0.3em 0.65em 0 0;
  text-align: center;
}




.leading-15 {
  line-height: 65px; 
}

.leading-20 {
  line-height: 70px; 
}
