{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block content %}
<div class="w-full md:w-4/5 lg:w-8/12 p-8 m-auto mt-10 xsm:mt-24">
    <div class="flex justify-center items-center">
        <div class="w-full">
            <div class="text-center mb-6">
                <h1>{% trans "Login Cancelled" %}</h1>
            </div>
        <div class="m-4">
            {% url 'account_login' as login_url %}
            <p class="text-center font-WorkSans font-normal text-xl mb-4">{% trans "An error occurred while attempting to login via your social network account." %}</p>

            {% endblock %}
        </div>
        
</div>
</div>
</div>

{% endblock  content %}