{% extends 'base.html' %}
{% load static %}
{% block head_title %}-about{% endblock head_title %}

{% block content %}

<div class="mt-16">
<div class="m-4">

<div class="text-center">
    <p class="font-Montserrat font-semibold text-5xl sm:text-6xl text-black m-8">MyCoes</p>
</div>

<div class="w-full text-center">
    <p class="font-Karla font-normal text-2xl sm:text-3xl m-4">Welcome to MyCoes! We provide customized web development services to meet your exact requirements. I am the sole developer behind MyCoes, and I take great responsibility for delivering outstanding websites for you. Throughout the development process, we prioritize transparency and flexibility, ensuring a smooth and enjoyable experience from the beginning to the end. Your satisfaction is our ultimate goal.</p>
</div>


<div>
    <div>
        <p class="font-LibreFranklin font-extrabold text-3xl sm:text-4xl m-4 mt-14 mb-4">Development Technologies</p>
    </div>

    <div>
        <p class="font-Nunito font-normal text-2xl sm:text-3xl m-4">At MyCoes we provide web development solutions as per your needs to full fill your requirements, we use these wide range of technologies, including:</p>
    </div>
    <div>
        <p class="font-Karla font-semibold text-xl sm:text-2xl m-4 word-spacing">HTML   CSS    JavaScript    Tailwindcss    React.js   Django   Python   MySQL   DjangoREST-framework</p>
    </div>
    <div>
        <p class="font-Nunito font-normal text-2xl sm:text-3xl m-4">These technologies enable us to build dynamic and responsive websites that enhance your online presence and meet your business objectives.</p>
    </div>
</div>



<div>
    <div>
        <p class="font-Montserrat font-semibold text-4xl sm:text-5xl m-4 mt-14 mb-4">Services</p>
    </div>

    <div>
        <p class="font-Nunito font-normal text-2xl sm:text-3xl m-4">We offer a comprehensive range of web development services to fulfil your specific requirements. You can choose from the following,</p>
    </div>


    <div class="mt-8">
    <div>
        <p class="font-Karla font-semibold text-xl sm:text-2xl m-4">1. Full Website Development with Django</p>
    </div>
    <div>
        <p class="font-Nunito font-extralight text-xl md:text-2xl m-4">We are specialized in developing fully functional websites using Django. We handle everything from designing the user interface to implementing complex backend functionalities. Trust us to create a seamless website that aligns perfectly with your business goals.</p>
    </div>
    </div>


    <div class="mt-8">
        <div>
            <p class="font-Karla font-semibold text-xl sm:text-2xl m-4">2. Frontend Services</p>
        </div>
        <div>
            <p class="font-Nunito font-extralight text-xl md:text-2xl m-4">If you need assistance with the frontend aspects of your website, we've got you covered. Our frontend services  HTML, CSS, and JavaScript development, as well as Tailwindcss and Bootstrap expertise. We offer solutions such as building the frontend of your website or creating individual pages with captivating designs and seamless user experiences.</p>
        </div>
    </div>


    <div class="mt-8">
            <div>
                <p class="font-Karla font-semibold text-xl sm:text-2xl m-4">3. Backend Solutions</p>
            </div>
            <div>
                <p class="font-Nunito font-extralight text-xl md:text-2xl m-4">Enhance the functionality of your website by leveraging our backend expertise. We utilize Django, MySQL, and Django Rest framework to create robust backend solutions to meet your specific needs. Whether you require the addition of new forms, models, views, or any other backend functionality, we have the skills and experience to deliver exceptional results.</p>
            </div>
    </div>
</div>



<div class="mt-8">
    <p class="font-Nunito font-normal text-2xl sm:text-3xl m-4">Choose MyCoes as your trusted web development partner. Benefit from my expertise in utilizing the latest technologies to create exceptional websites. Whether you require a complete website developed with Django, frontend services using HTML, CSS, and JavaScript, or backend solutions powered by Django, MySQL, and Rest framework, MyCoes has the skills and experience to deliver outstanding results.</p>
</div>


<div class="mt-8 mb-8">
    <p class="font-Nunito font-normal text-2xl sm:text-3xl m-4">Contact me today to discuss your project and take the first step towards a successful online presence. Let MyCoes transform your ideas into a visually stunning and functionally robust website that stands out in the digital landscape.</p>
</div>


</div>
</div>


{% endblock content %}