{% extends 'base.html' %}
{% load static %}
{% block head_title %}Contact{% endblock head_title %}

{% block content %}

<div class="text-center mt-16">
    <p class="font-WorkSans font-semibold text-4xl">Contact</p>
</div>

<div class="flex justify-center">
<div class="w-full sm:w-7/12 m-4">

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="mt-4 sm:m-4">
            <label for="{{ field.id_for_label }}" class="block mb-2 font-Karla text-2xl font-normal text-gray-900">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <div class="mt-4 sm:mt-0">
        <button type="submit" class="text-white font-WorkSans bg-black hover:bg-slate-900 focus:ring-4 focus:ring-slate-700 font-semibold rounded-lg text-2xl px-10 py-2.5 sm:ml-4 mb-2  dark:bg-black dark:hover:bg-slate-900 focus:outline-none dark:focus:ring-black">Submit</button>
      </div>
      </form>

</div>
</div>



  

{% endblock content %}