{% extends 'base.html' %}
{% load static %}


{% block content %}

<!--Hero first show-->

<div class="flex flex-col justify-center items-center mt-12 p-0 dark-bg-custom h-screen w-screen">
  <div class="text-center">
  <h1 class="font-Montserrat font-extralight text-5xl sm:text-6xl md:text-7xl xl:text-8xl text-black p-4">Your Web Development Solution</h1>
</div>
<div class="flex justify-center text-center">
  <p class="text-black text-4xl font-Montserrat font-semibold p-4 lg:w-4/6 lg:text-5xl max-exsm:text-2xl">"Nothing matters when a website fulfills the requirements effectively, regardless of the development technologies used."</p>
</div>

<div class="flex justify-center text-center m-4">
<a href="{% url 'home:about' %}" class="py-2.5 px-10 mr-2 mb-2 text-2xl font-medium text-black bg-transparent rounded-full border border-white hover:bg-black hover:text-white focus:z-10">About us &rarr;</a>
</div>

</div>


<!--content why mycoes-->

<div class="text-center mt-8">
   <h2 class="font-WorkSans text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-light p-4">Why Mycoes is the Solution for Your Web Development Needs?</h2>
   <div class="flex justify-center">
    <p class="font-Nunito font-normal text-2xl p-4 sm:w-5/6">We use popular Development technologies for frontend HTML, CSS, Js, Bootstrap, and Tailwind CSS, and for backend Python, Django, my-SQL, and restful APIs. A website built using these technologies is valuable for growing business, providing a secure, customizable, and scalable platform to showcase products or services, attract new customers, and increase revenue, we respond fast, and we use the test pay method.</p>
   </div>
</div>


<!--services cards-->

<div class="bg-slate-50 text-center mt-8 pt-8 pb-8">
  <p class="font-Montserrat font-semibold text-5xl md:text-6xl">Services</p>
  <div class="flex justify-center m-4">
    <div class="flex flex-nowrap overflow-y-hidden overflow-x-scroll no-scrollbar gap-20 p-8">
      <a href="{% url 'services:home' %}" class="w-80 text-left hover:cursor-pointer">
        <img class="w-full object-cover  rounded" src="{% static 'img/services/fullstackse.png' %}" alt="">
        <p class="font-WorkSans font-semibold text-4xl text-white p-4 -mt-36">Fullstack Development</p>
      </a>

      <a href="{% url 'services:front-end' %}" class="w-80 text-left hover:cursor-pointer">
        <img class="w-full object-cover rounded" src="{% static 'img/services/frontendse.png' %}" alt="">
        <p class="font-WorkSans font-semibold text-4xl text-white p-4 -mt-36">Front End Development</p>
      </a>

      <a href="{% url 'services:back-end' %}" class="w-80 text-left hover:cursor-pointer">
        <img class="w-full object-cover rounded" src="{% static 'img/services/backendse.png' %}" alt="">
        <p class="font-WorkSans font-semibold text-4xl text-white p-4 -mt-36">Back-end Development</p>
      </a>
    </div>
  </div>
</div>


      

</div>
</div>


<!--price tag line-->

<div class="text-center m-14">
<p class="font-Montserrat font-medium text-3xl sm:text-5xl">We don't set prices for our services. We accept offers.</p>
</div>



<!--How it works-->

<div class="bg-gray-100">

  <div class="max-sm:text-center">
    <p class="font-Montserrat font-extralight text-4xl exsm:text-5xl sm:text-6xl pt-6 pl-5 pb-0 md:pt-12 md:pl-12">How it works?</p>
  </div>

<div class="w-full p-8">
  <div>
    <p class="text-black  text-3xl font-Montserrat font-semibold p-4  lg:text-4xl max-exsm:text-2xl">1. Know the Services.</p>
  </div>

  <div>
    <p class="text-black  text-3xl font-Montserrat font-semibold p-4  lg:text-4xl max-exsm:text-2xl">2. Make an offer according to your needs.</p>
  </div>

  <div>
    <p class="text-black  text-3xl font-Montserrat font-semibold p-4 lg:text-4xl max-exsm:text-2xl">3. Get updates on your project on the status navigation.</p>
  </div>

  <div>
    <p class="text-black  text-3xl font-Montserrat font-semibold p-4  lg:text-4xl max-exsm:text-2xl">4. Pay the price that you made in the offer.</p>
  </div>

  <div>
    <p class="text-black  text-3xl font-Montserrat font-semibold p-4 lg:text-4xl max-exsm:text-2xl">5. Get your project code.</p>
  </div>
</div>

</div>



<!--content why mycoes-->

<div class="text-center mt-8">
  <h2 class="font-WorkSans text-4xl  md:text-5xl lg:text-6xl font-light p-4">As You say, we do.</h2>
  <div class="flex justify-center">
   <p class="font-Nunito font-normal text-2xl p-4 sm:w-5/6">Once your offer is accepted, you'll be able to easily track the progress of your project through the status navigation. Under the progress bar, there's a form where you can provide your feedback, suggest changes, and add any additional requirements you may have. We'll also give you a video clip of your project to review, enabling you to see its current state.
    You can request as many revisions as you want. Just check the box and specify the changes in the additional field. We'll provide you with a test video link and other relevant information about your project. As you say, we do.</p>
  </div>
</div>


<!--offer  tag line & btn-->

<div>
  <div class="m-8">
      <p class="font-WorkSans font-semibold text-4xl text-black pt-8 sm:text-5xl md:text-6xl">A website that is fast & smooth, and Secure gives the best user-experiences for your business.</p>
      <br />
      <div class="pb-8">
          <a href="{% url 'orders:make-offer' %}" class="py-2.5 px-10 mr-2 mb-2 text-xl sm:text-2xl font-Montserrat font-extralight text-black bg-transparent rounded-full border border-black hover:bg-black hover:text-white hover:font-normal hover:cursor-pointer focus:z-10">Make an offer now</a>
      </div>
    </div>
</div>

{% endblock content %}
  


