{% extends 'base.html' %}
{% load static %}
{% block head_title %}Contact{% endblock head_title %}

{% block content %}


<div class="m-auto w-11/12 md:w-10/12 lg:w-8/12 flex justify-center">
    <div>



     <div class="mt-28 mb-24 sm:mt-40 sm:mb-24 border-b border-black dark:border-white">
   <div>
     <h1 class="text-5xl sm:text-6xl font-Inter font-bold tracking-wide max-xsm:leading-tight leading-20 text-black dark:text-white m-4">The Step Pay as Industry Standard follows to Pay.</h1>
   </div>
   <div>
     <p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">As the industry follows to pay in milestones we follow the same rule. When work is done, in milestones, the payment has to be done along with it. On average, we have an hourly rate of 25 to 50 dollars. let us know does it aligns with your budget or not by contacting.</p>
   </div>
   
   <div class="my-12">
     <a href="{% url 'home:contact' %}" class="text-xl font-Inter font-light text-white dark:text-black bg-black dark:bg-white py-5 px-20 m-4 hover:bg-slate-900 dark:hover:bg-slate-100">Contact us</a>
   </div>
   </div>



   <div class="mt-10 mb-20 sm:my-20 border-b border-black dark:border-white">
    <div>
      <h1 class="text-5xl sm:text-6xl font-Inter font-bold tracking-wide max-xsm:leading-tight leading-20 text-black dark:text-white m-4">Whenever You wanna pay.</h1>
    </div>
    <div>
      <p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">This is for our Previous customers only, with whom we have worked. If you are a previous customer and don't know about this you can get access to this. It has limitations under 6 months you should pay whatever the contract signed amount and 25% percent Advance payment.</p>
    </div>
    
    <div class="my-12">
      <a href="{% url 'home:contact' %}" class="text-xl font-Inter font-light text-white dark:text-black bg-black dark:bg-white py-5 px-20 m-4 hover:bg-slate-900 dark:hover:bg-slate-100">Contact us</a>
    </div>
    </div>


   </div>
   </div>

  
{% endblock content %}