{% extends 'base.html' %}
{% load static %}
{% block head_title %}Support{% endblock head_title %}

{% block content %}

<div class="mt-16">
<div class="m-4">

<div class="mt-20 md:mt-28">
    <p class="font-Montserrat font-semibold text-4xl sm:text-5xl text-black m-4 md:m-8">MyCoes Customer Care</p>
</div>

<div class="w-full">
    <p class="font-Karla font-normal text-2xl sm:text-3xl m-4 sm:ml-8">Welcome to MyCoes Customer Care! We are here to assist you with any questions or concerns you may have. Get real-time help through direct chat or submit this form and we'll respond promptly.</p>
</div>



<!--FAQ's from home-page-->

<div class="border-black border-b mb-6">
<div class="w-11/12 m-auto">
<div id="faq" class="mb-4">
  <div>
    <h3 class="text-5xl font-Nunito mb-4 pt-6">FAQ's</h3>
  </div>
  <div class="faq-list">
      <div>
        <details>
          <summary title="How can I pay for my appointment?" class="font-Karla font-semibold text-xl sm:text-2xl">Why Should I Have a Website for My Business?</summary>
          <p class="font-Nunito font-normal text-xl">Every business needs a website to establish an online presence. A well-designed website showcases your products or services, attracts new customers, and increases revenue. It's a valuable platform for reaching a wider audience and promoting your business effectively.</p>
        </details>
        </div>
      <div>
        <details>
          <summary title="What can I expect at my first consultation?" class="font-Karla font-semibold text-xl sm:text-2xl">How Can Mycoes Help Me with Web Development?</summary>
          <p class="font-Nunito font-normal text-xl">Mycoes offers a range of web development services, including frontend and backend development. We use popular technologies like HTML, CSS, JavaScript, Python, Django, and MySQL to create customized and secure websites. Whether you need a complete website design or assistance with specific aspects, we're here to help.</p>
        </details>
        </div>
      <div>
        <details>
          <summary title="What are your opening hours?" class="font-Karla font-semibold text-xl sm:text-2xl">What Development Technologies Does Mycoes Use?</summary>
          <p  class="font-Nunito font-normal text-xl">Mycoes uses a combination of frontend technologies like HTML, CSS, JavaScript, Bootstrap, and Tailwind CSS. For backend development, we leverage Python, Django, MySQL, and RESTful APIs. These technologies ensure that your website is secure, customizable, and scalable.</p>
        </details>
        </div>
      <div>
        <details>
          <summary title="Do I need a referral?" class="font-Karla font-semibold text-xl sm:text-2xl">How Does the Pricing Work?</summary>
          <p class="font-Nunito font-normal text-xl">We don't set fixed prices for our services. Instead, we encourage you to make an offer based on your budget and project requirements. If we agree on your offer, we'll inform you via email, and you can track your project's status through our platform. Let's have a discussion before finalizing your offer.</p>
        </details>
        </div>
      <div>
        <details>
          <summary title="Is the cost of the appointment covered by private health insurance?" class="font-Karla font-semibold text-xl sm:text-2xl">Are You a Freelancer or an Agency?</summary>
          <p class="font-Nunito font-normal text-xl">We are freelancers, not a large agency. Our goal is to provide high-quality web development services at an affordable price. We understand that small businesses and startups may have budget constraints, and we're here to help them establish their online presence without breaking the bank.</p>
        </details>
        </div>
      <div>
            <details>
                <summary title="What are the parking and public transport options?" class="font-Karla font-semibold text-xl sm:text-2xl">How Do I Get Started with Mycoes?</summary>
                <p class="font-Nunito font-normal text-xl">To get started with Mycoes, follow these steps:
                  Explore our services, including frontend, backend, and fullstack development.
                  Contact us to discuss your project needs and services you require.
                  Make an offer based on your budget and project understanding.
                  Track the progress of your project through our status navigation.
                  Once the project is complete, make the payment as discussed, and you'll receive your project files.</p>
            </details>
        </div>
        <div>
          <details>
            <summary title="Is the cost of the appointment covered by private health insurance?" class="font-Karla font-semibold text-xl sm:text-2xl">Do you design websites?</summary>
            <p class="font-Nunito font-normal text-xl">Yes, we design websites also.</p>
          </details>
          </div>

          <div>
            <details>
              <summary title="Is the cost of the appointment covered by private health insurance?" class="font-Karla font-semibold text-xl sm:text-2xl">Do you host websites?</summary>
              <p class="font-Nunito font-normal text-xl">Yes, we do. currently only on aws with nginx and gunicorn.</p>
            </details>
            </div>
  </div>
</div>
</div>
</div>





    <div>
        <p class="font-LibreFranklin font-extrabold text-3xl sm:text-4xl m-4 mt-14 mb-4">Contact us</p>
    </div>


<div class="flex flex-wrap gap-4 md:gap-10  m-4 exsm:ml-8 mt-8">

    <div class="w-60">
        <a href="{% url 'home:contact' %}" class="focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 hover:bg-slate-100 py-1 px-4 border rounded-lg border-gray-700 flex items-center w-full">
            <img src="{% static 'icons\call.svg' %}" class='h-10 w-10' alt="call">
            <p class="text-base font-medium ml-4 text-gray-700">Contact Form</p>
          </a>
    </div>

    <div class="w-60">
        <a href="https://wa.me/918431944801?text=Hello%20from%20the%20website!" class="focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 hover:bg-slate-100 py-1 px-4 border rounded-lg border-gray-700 flex items-center w-full">
            <img src="{% static 'icons\whatsapp.svg' %}" class='h-10 w-10' alt="whatsapp">
            <p class="text-base font-medium ml-4 text-gray-700">Whatsapp</p>
          </a>
    </div>

    <div class="w-60">
        <a href="https://m.me/mycoes747" class="focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 hover:bg-slate-100 py-1 px-4 border rounded-lg border-gray-700 flex items-center w-full">
            <img src="{% static 'icons\messenger.svg' %}" class='h-10 w-10' alt="messenger">
            <p class="text-base font-medium ml-4 text-gray-700">Messenger</p>
          </a>
    </div>

    <div class="w-60">
        <a href="https://www.instagram.com/mycoes747" class="focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 hover:bg-slate-100 py-1 px-4 border rounded-lg border-gray-700 flex items-center w-full">
            <img src="{% static 'icons\instagram.svg' %}" class='h-10 w-10' alt="instagram">
            <p class="text-base font-medium ml-4 text-gray-700">Instagram</p>
          </a>
         </div>
    </div>
</div>



<div class="sm:m-8 mt-8 my-8 mx-4"><p class="font-Nunito font-normal text-xl">You can also email us at mycoes747@gmail.com or info@mycoes.com for any assistance.</p></div>


</div>
</div>


{% endblock content %}