{% extends 'base.html' %}
{% load static %}
{% block head_title %}Frontend Web Development Services | Responsive UI Design{% endblock head_title %}
{% block meta_description %}Enhance your website's look and feel with MyCoes' frontend development services. We create responsive designs, customize styles with CSS and Tailwind CSS, and ensure smooth connections with the backend. Discover our expertise, technologies, code delivery, status updates, and transparent pricing. Contact us to make your website visually attractive and user-friendly.{% endblock meta_description %}
    
{% block content %}


    <div>
            <ul class="flex items-center justify-evenly text-center sticky w-full overflow-hidden bg-white h-12 border-b border-black mt-12">
                <li><a href="{% url 'services:home' %}" class="font-Nunito font-normal text-lg text-slate-700  hover:text-black">Full-stack</a></li>
                <li><a href="{% url 'services:front-end' %}" class="font-Nunito font-normal text-lg text-black  hover:text-black underline underline-offset-8">Front-end</a></li>
                <li><a href="{% url 'services:back-end' %}" class="font-Nunito font-normal text-lg text-slate-700  hover:text-black">Back-end</a></li>
            </ul>
    </div>


<div class="mt-8 mb-8 mr-4 ml-4 lg:flex lg:justify-between lg:m-12">

    <!--This carousel-->

    <div class="w-full carousel-container lg:w-c45">
        <div class="hidden exsm:block">
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden  border-2 border-black rounded-lg md:h-96">
            
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{% static 'img\services\carousel\html.png' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{% static 'img\services\carousel\css.png' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{% static 'img\services\carousel\js.png' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 4 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{% static 'img\services\carousel\tcss.png' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            
        </div>
        
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-500 dark:bg-gray-800/30 group-hover:bg-gray-800 dark:group-hover:bg-gray-800/60  dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-black dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-500 dark:bg-gray-800/30 group-hover:bg-gray-800 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-black dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>

</div>
</div>




<!--This part of text content-->

<div class="w-full mt-6 sm:mt-12 lg:mt-0 lg:w-2/4 lg:ml-auto lg:overflow-y-auto">
    <div>
    <p class="font-Montserrat text-3xl sm:text-5xl">Frontend Development </p>
    </div>

    <div class="mt-6 border-black border-2 p-4">
        <p class="font-Nunito font-normal text-2xl">This service focuses on building the front end of websites with a strong emphasis on responsive design. Clients can avail of our services for tasks such as editing the front end, creating new UI pages, developing landing pages, or completely transforming the UI of an existing website. We have the expertise and capability to handle these tasks efficiently.</p>
    </div>



    <!--Expertise-->

    <div class="mt-8 border-black border-2 p-4">
        <p class="font-Karla font-semibold text-2xl sm:text-3xl">Expertise</p>
        <div class="m-4">
            <p class="font-WorkSans font-semibold text-xl">&bull; Responsive Design</p>
            <div>
                <p class="font-WorkSans font-normal text-xl">We ensure that the websites we develop are responsive, adapting seamlessly to different devices and screen sizes.</p>
            </div>
        </div>
        <div class="m-4">
            <p class="font-WorkSans font-semibold text-xl">&bull; Custom Styling with CSS and Tailwind CSS</p>
            <div>
                <p class="font-WorkSans font-normal text-xl">We apply custom styling to your website using CSS and Tailwind CSS, ensuring a unique and visually appealing design that aligns with your branding and requirements.</p>
            </div>
        </div>
        <div class="m-4">
            <p class="font-WorkSans font-semibold text-xl">&bull; Integration with Backend</p>
            <div>
                <p class="font-WorkSans font-normal text-xl">We seamlessly integrate the frontend with the backend, ensuring smooth data flow, efficient API communication, and synchronization between the user interface and server functionality.</p>
            </div>
        </div> 
    </div>

    
    <!--Development Technologies-->

    <div class="mt-8 border-black border-2 p-4">
        <p class="font-Karla font-semibold text-2xl sm:text-3xl">Development Technologies</p>
        <div class="sm:flex sm:gap-5">
            <div class="m-4">
                <p class="font-WorkSans font-semibold text-black word-spacing text-xl">HTML CSS Javascript Tailwindcss Bootstrap</p>
            </div>
        </div> 
    </div>

    


     <!--Code Delivery and Status Updates-->

     <div class="mt-8 border-black border-2 p-4">
        <p class="font-Karla font-semibold text-2xl sm:text-3xl">Code Delivery and Status Updates</p>
        <div class="m-4">
            <p class="font-WorkSans font-semibold text-xl">&bull; Code Delivery</p>
            <div>
                <p class="font-WorkSans font-normal text-xl">Upon completion of the project, we provide the client with a zip file containing all the necessary code files.</p>
            </div>
        </div>
        <div class="m-4">
            <p class="font-WorkSans font-semibold text-xl">&bull; Status Navigation</p>
            <div>
                <p class="font-WorkSans font-normal text-xl">Clients can easily track the progress of their project through the "Status" navigation. They will receive timely updates on the development process and can view the current status of their website.</p>
            </div>  
    </div>

</div>


    <!--Pricing-->

    <div class="mt-8 border-black border-2 p-4">
        <p class="font-Karla font-semibold text-2xl sm:text-3xl">Pricing</p>
        <div class="m-4">
            <p class="font-WorkSans font-normal text-xl">Make an offer based on your budget and understanding of your requirements. If we agree on your offer, we will inform you through email and you can check the status of your project. If not, we can discuss it further on finalizing the offer. Let's have a discussion before making an offer.</p>
        </div>
    </div>


    <!--Button a-tags-->
    <div class="flex -ml-4 xsm:justify-start mt-10">
        <a href="{% url 'orders:make-offer' %}" class="text-black font-WorkSans border-black border-2 hover:bg-slate-500  font-semibold text-2xl px-10 py-3.5 ml-4 mb-2">Make an offer</a>
    </div>
    
    


</div>




{% endblock content %}